*{
    margin: 0;
}
.hidden-laptop{
    display: none;
}
nav{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-par{
    display: flex;
    gap: 50px;
    font-size: 24px;
}
.top-back-color{
    width: 100%;
    height: 700px;
    background-color: rgba(255, 247, 244, 1);
}
.top{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left-top h2 span{
    color: rgba(255, 83, 0, 1);
}
.left-top{
    width:40%;
}
.left-top h2{
    width: 80%;
    font-size: 52px;
    color: rgba(55, 55, 55, 1);
}
.left-top p{
    color: rgba(123, 123, 123, 1);
    margin-top: 20px;
    width: 80%;
    font-size: 20px;
}
.left-top button{
    margin-top: 50px;
    border: none;
    background-color: rgba(255, 83, 0, 1);
    padding: 15px 25px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.first-part{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    width: 40%;
}
.right-side p{
    color: rgba(123, 123, 123, 1);
    margin-bottom: 30px;
    width: 90%;
    font-size: 20px;
}
.right-side h3{
    font-size: 42px;
    color: rgba(55, 55, 55, 1);
    margin-bottom: 20px;
}
.right-side h3 span{
    color: rgba(255, 83, 0, 1);   
}
.right-side button{
    border: none;
    padding: 15px 25px;
    background-color: rgba(255, 83, 0, 1);
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.second-part{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box{
    width: 270px;
    height: 170px;
    box-shadow: 0px 0px 10px 2px rgb(211, 211, 211);
    text-align: center;
    font-size: 20px;
    color: rgba(55, 55, 55, 1);
    padding-top: 20px;
}
.ll{
    height: 650px;
}
.sector1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}
.box1{
    width:250px;
    height: 230px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}
.box1 h3{
    font-size: 44px;
    padding: 60px 0 20px 0;
}
.box1 p{
    font-size: 20px;
    color: rgba(123, 123, 123, 1);
}
.left-div{
    width: 40%;
}
.left-div p{
    margin-bottom: 20px;
    color: rgba(123, 123, 123, 1);
    width: 90%;
    font-size: 20px;
}
.left-div h3{
    font-size: 44px;
    color: rgba(55, 55, 55, 1);
    margin-bottom: 20px;
}
.left-div span{
    color: rgba(255, 83, 0, 1); 
}
.left-div button{
    margin-top: 30px;
    border: none;
    padding: 15px 25px;
    background-color: rgba(255, 83, 0, 1);
    font-size: 18px;
    border-radius: 10px;
    color: white;
}
.right-div{
    width: 40%;
}
.two-box{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.sector2{
    margin-top: 100px;
}
.sector2 p{
    color: rgba(123, 123, 123, 1);
    text-align: center;
    font-size: 20px;
    margin-bottom:30px;
}
.sector2 h3{
    text-align: center;
    font-size: 48px;
}
.sector2 h3 span {
    color: rgba(255, 83, 0, 1);
    margin-bottom:30px;
}
.about-person{
    width: 270px;
    height: 350px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.about-person h5{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}
.about-person p{
    font-size: 18px;
    margin-top: 20px;
}
.all-four{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}
.kk{
    height: 600px;
}
.par1{
    padding-top: 50px;
    text-align: center;
    font-size: 18px;
    color: rgba(123, 123, 123, 1);
}
.kk h3{
    text-align: center;
    color: rgba(55, 55, 55, 1);
    font-size: 40px;
    margin-top: 30px;
}
.kk h3 span{
    color: rgba(255, 83, 0, 1);
}
.two-info{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.an-info{
    width: 400px;
    height: 200px;
    background-color: rgba(255, 83, 0, 1);
    padding: 20px 30px;
}
.an-info h4{
    color: white;
    font-size: 28px;
}
.an-info p{
    color: white;
}
.par2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.par3{
    width: 90%;
    font-size: 18px;
}
.two-div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}
.sector3{
    margin-top: 100px;
}
.sector3 p{
    text-align: center;
    font-size: 20px;
    color: rgba(123, 123, 123, 1);
}
.sector3 h3{
    color: rgba(55, 55, 55, 1);
    text-align: center;
    font-size: 40px;
}
.sector3 h3 span{
    color: rgba(255, 83, 0, 1);
}
.first-div{
    width: 550px;
    padding: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.flex{
    display: flex;
    align-items: center;
}
.leftt{
    width: 70%;
}
.leftt p{
    color: rgba(255, 83, 0, 1);
    font-size: 18px;
}
.leftt h4{
    margin-top: 20px;
    font-size: 24px;
    width: 90%;
}
.down{
    display: flex;
    align-items: center;
    gap: 20px;
}
.down span{
    color: rgba(123, 123, 123, 1) ;
}
.all3{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.par4{
    text-align: center;
    font-size: 18px;
    color: rgba(123, 123, 123, 1);
}
.hh3{
    text-align: center;
    font-size: 40px;
    color: rgba(55, 55, 55, 1);
    margin-top: 20px;
}
.hh3 span{
    color: rgba(255, 83, 0, 1);
}
.div1{
    width: 300px;
    padding: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1)     ;
}
.img-par{
    display: flex;
    align-items: center;
}
.parr p{
    color:rgba(255, 83, 0, 1);
    margin-bottom: 10px;
    font-size: 20px;
}
.parr h5{
    font-size: 24px;
    color: rgba(55, 55, 55, 1);
}
.par5{
    margin-bottom: 10px;
    font-size: 18px;
    color: rgba(123, 123, 123, 1);
}
.bb span{
    color: rgba(255, 83, 0, 1);
    margin-left: 10px;
}
.h-4{
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}
.h-4 span {
    color: rgba(255, 83, 0, 1);
}
.part-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-article{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.first-article input {
    width: 300px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding-left: 20px;
}
.part-9 textarea {
    min-width: 630px;
    min-height: 123px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px;
}
.but-2 {
    width: 670px;
    height: 50px;
    background-color:rgba(255, 83, 0, 1) ;
    box-shadow: 0px 0px 15px rgba(255, 83, 0, 0.4);
    border: none;
    color: white;
    margin: 30px 0px;
}
.map{
    display: block;
    margin: auto;
    margin-top: 100px;
}
.four-photo{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}





@media(max-width:510px){
    .hidden-phone{
        display: none;
    }
    .hidden-laptop{
        display: block;
    }
    nav{
        padding: 30px 20px;
        justify-content: space-between;
    }
    .top{
        padding-top: 50px;
        flex-direction: column-reverse;
    }
    .right-top{
        width: 100%;
    }
    .right-top img{
        width: 90%;
        padding: 0 5%;
    }
    .left-top{
        width: 100%;
    }
    .left-top h2{
        font-size: 32px;
        text-align: center;
        width: 90%;
        padding: 0 5%;
        padding-top: 50px;
        
    }
    .left-top p{
        width: 90%;
        padding: 0 5%;
        text-align: center;
        font-size: 20px;
    }
    .left-top button{
        margin-top: 30px;
        margin-left: 100px;
    }
    .first-part{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
    }
    .left-side img{
        width: 90%;
        padding: 0 5%;
    }
    .right-side{
        width: 100%;
    }
    .right-side h3{
        font-size: 28px;
        text-align: center;
        width: 90%;
        padding: 0 5%;     
    }
    .right-side p{
        width: 90%;
        padding: 0 5%;
        text-align: center;
        font-size: 20px;
        margin-top: 50px;
    }
    .right-side button{
        margin-left: 100px;
    }
    .second-part{
        flex-direction: column;
    }
    .box{
        width: 90%;
        margin: auto;
    }
    .ll{
        height: 1600px;
    }
    .sector1{
        flex-direction: column;
    }
    .left-div{
        width: 100%;
    }
    .left-div p{
    width: 80%;
    padding: 0 10%;
    text-align: center;
    font-size: 18px;
    }
    .left-div h3{
        text-align: center;
        width: 90%;
        padding: 0 5%;
        font-size: 32px;
    }
    .left-div button{
        margin-left: 100px;
    }
    .two-box{
        flex-direction: column;
    }
    .right-div{
        margin-top: 50px;
        width: 100%;
    }
    .box1{
        width: 90%;
        margin: auto;
    }
    .all-four{
        justify-content: start;
        overflow: scroll;
    }
    .about-person{
        min-width: 100%;
        margin-bottom: 50px;
    }
    .sector2 h3{
    font-size: 40px;
}
    .an-info{
        width: 50%;
        padding: 20px 30px;
        margin: auto;
    }
    .first-div{
        width: 80%;
        /* padding: 0 5%; */
        margin: auto;
    }
    .sector3 h3{
    font-size: 32px;
}
    .leftt h4{
        font-size: 20px;
    }
    .down{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .leftt{
        padding: 0px 0;
    }
    .h-4{
        font-size: 24px;
    }
    .all3{
        flex-direction: column;
    }
    .div1{
        width:80%;
        margin: auto;
    }
    .first-article {
        display: block;
    }
    .first-article input {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .part-9 textarea{
        min-width: 80%;
        min-height: 100px;
        margin: auto;
    }
    .but-2 {
        width: 50%;
    }
    .map{
        width: 90%;
        margin: auto;
        margin-top: 100px;
    }
    .four-photo{
        margin-top: 50px;
    }
    .four-photo img{
        width: 20%;
        justify-content: center;
    }
}