*{
    margin: 0;
}
.hidden-laptop{
    display: none;
}
nav{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-par{
    display: flex;
    gap: 30px;
    font-size: 20px;
}








@media(max-width:510px){
    .hidden-phone{
        display: none;
    }
    .hidden-laptop{
        display: block;
    }
    nav{
        padding: 30px;
        justify-content: space-between;
    }
}