*{
    margin: 0;
}
.hidden-laptop{
    display: none;
}
nav{
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-par{
    display: flex;
    gap: 50px;
    font-size: 24px;
}
.top-back-color{
    width: 100%;
    height: 700px;
    background-color: rgba(255, 247, 244, 1);
}
.top{
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left-top h2 span{
    color: rgba(255, 83, 0, 1);
}
.left-top{
    width:40%;
}
.left-top h2{
    width: 80%;
    font-size: 52px;
    color: rgba(55, 55, 55, 1);
}
.left-top p{
    color: rgba(123, 123, 123, 1);
    margin-top: 20px;
    width: 80%;
    font-size: 20px;
}
.left-top button{
    margin-top: 50px;
    border: none;
    background-color: rgba(255, 83, 0, 1);
    padding: 15px 25px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.first-part{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    width: 40%;
}
.right-side p{
    color: rgba(123, 123, 123, 1);
    margin-bottom: 30px;
    width: 90%;
    font-size: 20px;
}
.right-side h3{
    font-size: 42px;
    color: rgba(55, 55, 55, 1);
    margin-bottom: 20px;
}
.right-side h3 span{
    color: rgba(255, 83, 0, 1);   
}
.right-side button{
    border: none;
    padding: 15px 25px;
    background-color: rgba(255, 83, 0, 1);
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.second-part{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box{
    width: 270px;
    height: 170px;
    box-shadow: 0px 0px 10px 2px rgb(211, 211, 211);
    text-align: center;
    font-size: 20px;
    color: rgba(55, 55, 55, 1);
    padding-top: 20px;
}







@media(max-width:510px){
    .hidden-phone{
        display: none;
    }
    .hidden-laptop{
        display: block;
    }
    nav{
        padding: 30px 20px;
        justify-content: space-between;
    }
    .top{
        padding-top: 50px;
        flex-direction: column-reverse;
    }
    .right-top{
        width: 100%;
    }
    .right-top img{
        width: 90%;
        padding: 0 5%;
    }
    .left-top{
        width: 100%;
    }
    .left-top h2{
        font-size: 32px;
        text-align: center;
        width: 90%;
        padding: 0 5%;
        padding-top: 50px;
        
    }
    .left-top p{
        width: 90%;
        padding: 0 5%;
        text-align: center;
        font-size: 20px;
    }
    .left-top button{
        margin-top: 30px;
        margin-left: 100px;
    }
    .first-part{
        flex-direction: column;
    }
    .left-side{
        width: 100%;
    }
    .left-side img{
        width: 90%;
        padding: 0 5%;
    }
    .right-side{
        width: 100%;
    }
    .right-side h3{
        font-size: 28px;
        text-align: center;
        width: 90%;
        padding: 0 5%;     
    }
    .right-side p{
        width: 90%;
        padding: 0 5%;
        text-align: center;
        font-size: 20px;
        margin-top: 50px;
    }
    .right-side button{
        margin-left: 100px;
    }
    .second-part{
        flex-direction: column;
    }
    .box{
        width: 90%;
        margin: auto;
    }
}